/*Div allignment*/
.imagemap{
    float:right;
    max-width: 33.33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid #55d6aa;
    margin-top:20px;
}

.imageContainer{
    float: left;
    max-width: 33.33%;
    margin-top:20px;
}

.descriptionContainer{
    max-width: 33.33%;
    float:left;
}
/*Div allignment*/



/*Fonts and Text styles*/
.descriptionContainer p {
    font-size: 40px;
    font-weight: bold;
}

.descriptionContainer ul {
    font-size: 20px;
}
/*Fonts and Text styles*/


/*Table CSS*/
.descriptionContainer .priceModelTable{
    margin-top:60px;
}

td:nth-child(1){
    text-align: left;
    padding-left:0;
    padding:5px;

}

th:nth-child(1){
    text-align:left;
    padding-left: 0;
    padding:5px;
}

th:nth-child(2){
    text-align:right;
    padding:5px;
    padding-left: 100px;
}

td:nth-child(2){
    text-align:right;
    padding:5px;
    padding-left: 100px;
}
/*Table CSS*/


header{
    background-color: #55d6aa;
}

header::after{/*To make sure that the bg of header is still visible after floating items*/
    content: "";
    display:table;
    clear:both;
}

nav{
    float:right; /*Float right puts everything in nav on the right and allows for space on the left for other things*/
}

nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

nav li{
    display:inline-block;/*Makes list items come one after another on same line*/
    margin-left:50px;/*spaces list items 70px on the left side*/
    margin-right:50px;
    padding:10px;
    padding-top:15px;
}

nav li:hover{
    background-color: #bafde7;
    padding-bottom:14px;
}

nav li a:hover{
    color:black;
}


nav ul li a{
    color:#444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.imageContainer img{
    max-height: 60%;
    max-width: 60%;
    padding: 20px;
    padding-left:100px;
}

.priceModelTable table{
    margin-left: auto;
    margin-right: auto;
}

.descriptionContainer ul,p {
    text-align: center;
}

.descriptionContainer li{
    list-style-position: inside;
}

.buyButton{
    margin-top:20px;
    text-align: center;
}

#button{
    border: none;
    color: black;
    background-color: #55d6aa;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
}

/*Image Map CSS*/
.imagemap img {
    max-width: 100%;
    max-height: 100%;
}

.imagemap p {
    font-weight:bold;
    font-size:20px;
    background: #55d6aa;
}
/*Image Map CSS*/

.footer {
    position:absolute;
    bottom:0;
    max-width: 100%;
    width:100%;
    background: #55d6aa;
}
